.footer {
  z-index: -1;
  height: 87vh;
  width: 100%;
  background-color: var(--green-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_content{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 40px; */
}

.footer_content p{
  text-align: center;
  color: white;
  font-size: var(--font-p);
  font-family: 'Inter';
}

.footer_content :nth-child(2){
  margin-bottom: 40px;
}
.footer_content span{
  text-decoration: underline;
  color: yellow;
  font-family: 'Inter';
}
@media screen and (max-width:600px) {
  .footer {
    padding: 0 30px 0 30px;
  }
  
  .crest_img {
    width: 300px;
    height: 190px;
  }
}